/trumania/components/_DB/
/trumania/components/geographies/source_data/
tests/tutorial/output/

# python
*.pyc
.ipynb_checkpoints
*.egg-info
.idea/
.cache
explore.ipynb
cdr_output_logs/
snd_output_logs/
.venv
/output/
/venv/

# scala
metastore_db
target
*.class
derby.log
run.log

# mac
.DS_Store
