[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

flake8 = "*"

[packages]

networkx = "*"
pandas = "==*"
numpy = "*"
scipy = "*"
seaborn = "*"
teamcity-messages = "*"
pytest = "*"
faker = "*"
jupyter = "*"
pymongo = "*"
"path.py" = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

python_version = "2.7"
